[submodule "src/resid"]
	path = src/resid
	url = https://github.com/drfiemost/resid.git
	branch = master
[submodule "src/residfp"]
	path = src/residfp
	url = https://github.com/drfiemost/residfp.git
	branch = cxx11
